<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.2.1" targetFramework="net452" />
  <package id="jQuery.UI.Combined" version="1.11.4" targetFramework="net452" />
  <package id="normalize.css" version="3.0.2" targetFramework="net452" />
  <package id="Normalize.Css.Legacy" version="1.1.2" targetFramework="net452" />
</packages>